# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.htaccess

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore mac files

.DS_Store

# Ignore db backups

*.sql
*.sql.gz
